html{
    background-color: white;
    margin: 0;
    padding: 0;
    text-align:center;
}
nav{
    display: flex;
    padding: 8px;
    width: 100%;
}
a{
    text-decoration: none;
}
.humankind{
    padding-top: 10px;
    
}
.sidebyside{
    padding: 5px;
    margin-left: 48rem ;
}
.bigImg{
    height: 500px;
    width: 100%;
}

.middle{
    text-align: left;
    padding: 5% 15% 5%;

}
.fourth{
    text-align: left;
    padding: 2% 7% 2%;
    display: flex;
    }
.fifth{
    background-color: #f5f5f5;
    background-size: cover;
    text-align: left;
    padding: 10% 15% 27% 10% ;
}
.sixth{
    background-image: url("images/dots.png");
   
    height: 1000px;
    
    background-size: cover;
    background-position: center;
    position: relative;
}
.sixthDes{
    color: white;
    position: absolute;
    top: 50px;
    border-radius: 20px;
    border: black;
    background-color: black;
    padding: 9rem;
    margin: 15rem 12rem 12rem 14rem ;
}
.seventh{
    background-image: url("images/bdDots.png");
    background-size: cover;
    height: 1000px;
    background-position: center;
    position: relative;
}


.seventhdes{
    margin-right: 60%;
    position: absolute;
    top: 200px;
    left:70px;
    background-color: #f5f5f5;
    height: 350px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
}
.eightdes{
    display: flex;
    padding: 5rem 20rem 0;
    text-align: left;
}
.ninth{
    background-color: black;
    margin-top: 5rem;
    padding: 0;
    height: 93rem;
    background-position: center;
    position: relative;
}
.stayhuman{
    margin: 0;
    padding: 0;
}
.bots{
    position: absolute;
    top: 8rem;
    right: 5px;
}

.ninthdes{
    position: absolute;
    display: flex;
    top: 25rem;
    margin: 0 8rem;
    

}

.ninthdespop{
    background-color: #f5f5f5;
    text-align: left;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0 20px;
    padding: 3rem;
    border-width: 3px;
    border: black;
    border-radius: 20px;
}
.ninthtree{
    position: absolute;
    top: 800px;
    display: flex;
    background-color: #ffffff;
    
    /* top: 50rem; */
}
